:root {
  --primaryColor: #409f44;
  --bgColor: #fff;
  --titleColor: #202020;
  --labelColor: #393939;
  --inputBgColor: #ebeef1;
  --inputTextColor: #6a6c70;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--bgColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
